
<footer>
    <a class="whatsapp"
         href="https://wa.me/543516840510?text=Quiero%20consultar%20por%20algún%20producto" target="_blank"> 
        <i class="fa fa-whatsapp whatsapp-icon"></i>
    </a>
    <div class="colorblanco">
        <div >
            <div class="imagen-footer contenedorflexfooter">
                <div class="ancho">
                    <div><i class="fas fa-credit-card"></i></div>
                    <div class="negrita "><p>Pagá con tarjeta o en efectivo</p></div>
                    
                    <div><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p></div>
                </div>
                
                <div class="ancho">
                    <div><i class="fas fa-gift"></i></div>
                    <div class="negrita"><p>Envío gratis desde $ 2.500</p></div>
                    
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>   
        
                <div class="ancho">
                    <div><i class="fas fa-user-shield"></i></div>
                    <div class="negrita"><p>Seguridad, de principio a fin</p></div>
                    
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>  
                         
              </div>
        </div>
        
          <h6 class="separacion">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </div>
 
</footer>