<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    
<link rel="stylesheet" href="/css/style.css"/>

</head>
<body style="background-color: #ebebeb" >
    <header>
        <div class="contenedorflex">
            <div class="logomercado">
                <a href="/"><img src='images/logo-mercado-liebre.svg' alt='logo' ></a>
           
            </div>
            <form action="#" method="get"  id="contenedorbusqueda"> 
                <input type="text" placeholder="Buscar producto, marca" class="anchototal">
                 <button type="submit" name="busqueda"> <i class="fas fa-search" ></i></button>
            
            </form>

            <div>
                <h5><i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito</h5>
            </div>
        </div>
      
        
        <nav class="menu">
            <div  class="contenedorflex1">
                <ul  class="contenedorflex1" >
                    <li class="separadorH" >
                        <a href="#">Ofertas </a>
                    </li>
                    <li class="separadorH" >
                        <a href="#">Tiendas Oficiales </a>
                    </li>
                    <li class="separadorH" >
                        <a href="#">Vender </a>
                    </li>
                    <li class="separadorH" >
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul class="contenedorflex1">
                    <li class="contenedorflex1">
                        <a href="/register">Creá tu cuenta</a>
                        <div class="separacionimagenes"><i class="fas fa-address-card",></i></div>
                    </li>
                    <li class="contenedorflex1">
                        <a href="/login">Ingresá</a> 
                        <div class="separacionimagenes"><i class="fas fa-sign-in-alt"></i></div>
                    </li>
                    <li class="contenedorflex1">
                        <a href="#">Mis compras</a>
                       <div class="separacionimagenes"> <i class="fas fa-shopping-basket"></i></div>
                    </li>
                   
                </ul>
            </div>
            
        </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main>
       <seccion>
            <h2 class="titulares">Basado en tu última visita</h2>
            <div class="productos">
                <article>
                    <img src='images/img-cafetera-moulinex.jpg' alt='imagen de la cafetera' width="100%">
                    <div class="contenedorarticulo" >
                        <div class="icono"><i class="fas fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                    
                </article>
    
                <article >
                    <img src='images/img-macbook-pro-2019.jpg' alt='imagen de la cafetera' width="100%">
                    <div class="contenedorarticulo" >
                        <div class="icono"><i class="fas fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                    
                </article>
               
                <article>
                    <img src='images/img-samsung-galaxy-s10.jpg' alt='imagen de la cafetera' width="100%">
                    <div class="contenedorarticulo" >
                        <div class="icono"><i class="fas fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                    
                </article>
               
                <article>
                    <img src='images/img-tv-samsung-smart.jpg' alt='imagen de la cafetera' width="100%">
                    <div class="contenedorarticulo" >
                        <div class="icono"><i class="fas fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                    
                </article>
            </div>
            
       </seccion>

       <seccion >
        <h2 class="titulares">Sección de Ofertas</h2>  
        <div class="productos">
            <article>
                <img src='images/img-cafetera-moulinex.jpg' alt='imagen de la cafetera' width="100%">
                <div class="contenedorarticulo" >
                    <div class="icono"><i class="fas fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
                
            </article>
    
            <article>
                <img src='images/img-macbook-pro-2019.jpg' alt='imagen de la cafetera' width="100%">
                <div class="contenedorarticulo" >
                    <div class="icono"><i class="fas fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
                
            </article>
           
            <article>
                <img src='images/img-samsung-galaxy-s10.jpg' alt='imagen de la cafetera' width="100%">
                <div class="contenedorarticulo" >
                    <div class="icono"><i class="fas fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
                
            </article>
           
            <article>
                <img src='images/img-tv-samsung-smart.jpg' alt='imagen de la cafetera' width="100%">
                <div class="contenedorarticulo" >
                    <div class="icono"><i class="fas fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
                
            </article>
        </div>
        
       
   </seccion>
    </main>

    <footer>
            
            <div class="colorblanco">
                <div >
                    <div class="imagen-footer contenedorflexfooter">
                        <div class="ancho">
                            <div><i class="fas fa-credit-card"></i></div>
                            <div class="negrita "><p>Pagá con tarjeta o en efectivo</p></div>
                            
                            <div><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                                puntos de pago. ¡Y siempre es seguro!</p></div>
                        </div>
                        
                        <div class="ancho">
                            <div><i class="fas fa-gift"></i></div>
                            <div class="negrita"><p>Envío gratis desde $ 2.500</p></div>
                            
                            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                                productos. Es un beneficio de Mercado Puntos.</p>
                        </div>   
                
                        <div class="ancho">
                            <div><i class="fas fa-user-shield"></i></div>
                            <div class="negrita"><p>Seguridad, de principio a fin</p></div>
                            
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre protegid@.</p>
                        </div>  
                                 
                      </div>
                </div>
                
                  <h6 class="separacion">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </div>
         
        </footer>
</body>
</html>